<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232657807554-gske2r3s82mfm98crc6bi4rlfvgckqu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232657807554-gske2r3s82mfm98crc6bi4rlfvgckqu2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>232657807554-7djnrq77dbske05fu9j0aj7jg2f4fm88.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbgDtJ8ot8ju-7gOEi3Aur2OCM13BkJMs</string>
	<key>GCM_SENDER_ID</key>
	<string>232657807554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seewritesay.app</string>
	<key>PROJECT_ID</key>
	<string>seewritesay</string>
	<key>STORAGE_BUCKET</key>
	<string>seewritesay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232657807554:ios:47d9fca48c3fc525d0f35b</string>
</dict>
</plist>